snowflake-snowpark-python
snowflake
python-dotenv
Pillow
surprise
streamlit
streamlit-echarts
streamlit-extras
streamlit-toggle-switch
snowflake-connector-python
st_clickable_images
plotly.graph_objects
streamlit_option_menu
snowflake.sqlalchemy
